header {
    padding: 0.7vw 1vw;
    height: 60px;
    background-color: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #444444;
    margin-bottom: 0;
}

.logo {
	cursor: pointer;
	margin-left: 2vw;
}

a {
	color: inherit;
	text-decoration: none;
}

body {
	margin: 0;
}

main {
	min-height: 70vh;
}

.main-info {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: url(../img/cmpn.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 30vw;
	padding: 3vw 30vw;
	box-sizing: border-box;
}

input {
	width: 80%;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #cecece;
}

input,
textarea {
	font-family: inherit;
	padding: 0.3vw;
	margin-top: 1vw;
	border: 1px solid #cecece;
	border-radius: 5px;
	text-decoration: none;
	font-size: inherit;
	font-weight: inherit;
}

textarea {
	resize: none;
    height: 10vw;
    width: 90%;
}

textarea:hover,
input:hover {
  opacity: 1;
  border: 1px solid gold;
  outline: none;
}

textarea:focus,
input:focus {
  border: 1px solid gold;
  outline: none;
}

.confirm-btn {
	display: flex;
	justify-content: center;
}

input[type=submit] {
	width: auto;
	margin: 2vw 0;
	padding: 1vw 2vw;
	font-size: 18px;
	border-radius: 5px;
	background-color: #cecece;
	color: #f3f3f3;
	font-weight: bold;
}

input[type=submit]:hover{
	background-color: #ffd800;
	color: #444444;
	border-color: #ffdd00;
	cursor: pointer;
	box-shadow: 0 0 5px gray;
}

.photo-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.photo {
	height: 20vw;
	width: 20vw;
	border: 4px solid #a5a5a5;
	border-radius: 50%;
	background-color: white;
}

.company-name {
	display: flex;
	justify-content: center;
	font-size: 2vw;
	font-weight: bold;
	color: white;
}

.secondary-info {
	display: flex;
	justify-content: space-around;
	padding: 5vw;
}

.info-element {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 20vw;
	height: 7vw;
	background-color: #ffbb00;
	color: white;
}

.el-description {
	flex: 3;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.7vw;
	font-weight: bold;
}

.el-title {
	flex: 1;
	font-size: 1.2vw;
	margin-bottom: 0.7vw;
}

.about_section {
	color: #5b5b5b;
	/*box-sizing: border-box;*/
	display: flex;
	justify-content: center;
	align-items: center;
	height: 25vw;
	padding: 2vw 15vw;
	background-color: #fffbf0;
}
.company-contacts,
.description {
	width: 40%;
	font-size: 1.5vw;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.desc-title {
	font-size: 1.7vw;
	font-weight: bold;
	padding-bottom: 1vw;
}

.map {
	width: 40%;
}

.img-map {
	border-radius: 50%;
	max-width: 25vw;
	max-height: 25vw;
}

footer {
	height: 23vh;
	background-color: #666666;
	display: flex;
	flex-flow: column nowrap;
	color: white;
}

.linksMenu {
	width: 100%;
	display: flex;
	flex: 2;
	font-size: 1.7vw;
	align-items: center;
	justify-content: space-around;
}

.link {
	cursor: pointer;
}

.link:hover {
	text-decoration: underline;
}

.TM {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.3vw;
}

@media (max-width: 980px) {

	.main-container {
		flex-direction: column;
		padding: 0 10vw;
	}

	.main-info {
		max-width: 100%;
	}

	.name {
		font-size: 18px;
	}

	.email {
		font-size: 16px;
	}

	.information {
		margin-top: 4vh;
	}

}

