<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>main</servlet-name>
        <servlet-class>com.cjss.web.MainPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>main</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>com.cjss.web.EmployeeRegistrationPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/registration-employee</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>employee-profile</servlet-name>
        <servlet-class>com.cjss.web.EmployeeProfilePageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>employee-profile</servlet-name>
        <url-pattern>/profile/employee</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>employee-profile-edit</servlet-name>
        <servlet-class>com.cjss.web.EmployeeEditProfilePageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>employee-profile-edit</servlet-name>
        <url-pattern>/profile/employee/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>employee</servlet-name>
        <servlet-class>com.cjss.web.EmployeePageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>employee</servlet-name>
        <url-pattern>/employees/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>employees</servlet-name>
        <servlet-class>com.cjss.web.EmployeesPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>employees</servlet-name>
        <url-pattern>/employees</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>profile</servlet-name>
        <servlet-class>com.cjss.web.ProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>register-cmp</servlet-name>
        <servlet-class>com.cjss.web.CompanyRegistrationPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register-cmp</servlet-name>
        <url-pattern>/registration-company</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>profile-cmp</servlet-name>
        <servlet-class>com.cjss.web.CompanyProfilePageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>profile-cmp</servlet-name>
        <url-pattern>/profile/company</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>company-profile-edit</servlet-name>
        <servlet-class>com.cjss.web.CompanyEditProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>company-profile-edit</servlet-name>
        <url-pattern>/profile/company/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>postVacancy</servlet-name>
        <servlet-class>com.cjss.web.PostNewVacancyPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>postVacancy</servlet-name>
        <url-pattern>/post-vacancy</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>vacancies</servlet-name>
        <servlet-class>com.cjss.web.VacanciesPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>vacancies</servlet-name>
        <url-pattern>/vacancies</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>vacancy</servlet-name>
        <servlet-class>com.cjss.web.VacancyPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>vacancy</servlet-name>
        <url-pattern>/vacancies/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>about</servlet-name>
        <servlet-class>com.cjss.web.AboutPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>about</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>company</servlet-name>
        <servlet-class>com.cjss.web.CompanyPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>company</servlet-name>
        <url-pattern>/companies/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>vacanciesManagement</servlet-name>
        <servlet-class>com.cjss.web.VacanciesManagementPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>vacanciesManagement</servlet-name>
        <url-pattern>/companies/vacanciesManagement</url-pattern>
    </servlet-mapping>

</web-app>